body {
    text-align: left;
    background-color: #F3F3D4;
    font-family:Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
    text-align: center;
    font-family: sans-serif;
}
nav {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header div{
    background-color:#2E5081
    color: #F3F3D4;
}
p{
    font-size: 11px;
}
